<div class="calculator"> 
    <form >
        <div class="display">
            <input type="text" name="display" [(ngModel)]="iddisplay" id="iddisplay"  disabled>
        </div>
        <div>
            <input type="button" value="AC" (click)="clicked('AC')" class="operator">
            <input type="button" value="DE" (click)="clicked('DE')" class="operator">
            <input type="button" value="."  (click)="clicked('.')" class="operator">
            <input type="button" value="/"  (click)="clicked('/')"  class="operator">
        </div>
        <div>
            <input type="button" (click)="clicked('7')" value="7"   >
            <input type="button" (click)="clicked('8')" value="8" >
            <input type="button" (click)="clicked('9')" value="9" >
            <input type="button" (click)="clicked('*')" value="*" class="operator">
        </div>
        <div>
            <input type="button"  (click)="clicked('4')" value="4" >
            <input type="button"  (click)="clicked('5')" value="5" >
            <input type="button"  (click)="clicked('6')" value="6" >
            <input type="button"  (click)="clicked('-')" value="-" class="operator">
        </div>
        <div>
            <input type="button"  (click)="clicked('1')" value="1" >
            <input type="button"  (click)="clicked('2')" value="2" >
            <input type="button"  (click)="clicked('3')" value="3" >
            <input type="button"  (click)="clicked('+')" value="+"  class="operator">
        </div>
        <div>
            <input type="button"  (click)="clicked('00')" value="00"  >
            <input type="button"  (click)="clicked('0')" value="0" >
            <input type="button"  (click)="clicked('=')" value="="  class="equal">
        </div>
    </form>
</div>  