<div class="container-fluid">
  <div class="row  " style="height: 100vh; overflow: hidden;"> 
    <div class="col-12 col-md-6 d-flex flex-column p-4 text-white" style="background-color: #232424;">
      <div class="align-items-center mb-3" style="position: relative;"> 
        <div class="d-flex justify-content-end">
         <h4 class="mb-0 " style="position: absolute; left: 0;">Text Input</h4> 
        <button class="btn btn-success me-4 " (click)="onSend()">View as JSON</button>
        <button class="btn btn-outline-light" (click)="copy()" title="Copy to clipboard">Copy</button>
       </div>
      </div> 
      <textarea [(ngModel)]="text" class="form-control mb-3 flex-grow-1" 
        style="resize: none;" placeholder="Enter your text here..."></textarea> 
    </div>  
     <div class="col-12 col-md-6" style="background-color: rgb(230, 255, 236); height: 100vh;  ">
      <h3 class="text-center">Viewer</h3> 
      <div class="right-side" style="max-height: 93%; overflow: auto;  " > 
          <ngx-json-viewer  [expanded]="false" [json]="viwer"></ngx-json-viewer> 
      </div>
    </div>  
  </div>
</div>
