<div class="  container bg-dark text-white p-4 rounded shadow-sm mt-2" style="width: 80vw;" >
 
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center  mb-3">
    <button  (click)="reset()" type="button" class="btn btn-outline-light mt-2 mt-md-0" style="width: auto; height: 2.5em;">
      Reset
    </button>
    <h1 class="text-center mb-2 mb-md-0 flex-fill">Typing Speed Test</h1>

    <h1 class="text-center mb-2 mb-md-0 mx-md-3">{{ seconds }}</h1>

  </div> 

  
  <div class="text-display bg-secondary text-light  p-3 rounded mb-3" style="height: 6em; font-size: 2em; overflow: scroll;">
    {{givenText}}
  </div>
  
  <textarea #textArea  (change)="accuracy" (change)="wpm" [(ngModel)]="inputText"  class="form-control bg-dark text-white border-secondary mb-3" 
  placeholder="Start typing here..."  autofocus [disabled]="seconds >=60"  style="resize: none; font-size: 2em;"></textarea>
  
  
  <div class="stats d-flex flex-column flex-md-row justify-content-between align-items-center mb-4" style="font-size: 2em;">
    <div>WPM: <span id="wpm">{{userwpm}}</span></div>
    <div>Accuracy: <span id="accuracy">{{useraccuracy.toFixed(2)}}%</span></div>
  </div>
  <div class="stats d-flex flex-column flex-md-row justify-content-between align-items-center mb-4" style="font-size: 2em;">
    <div>Total Words Attemped : <span id="wpm">{{TotalWordsAttemped}}</span></div>
    <div>Corrected Words : <span id="accuracy">{{CorrectedWordAttemped}}</span></div>
  </div>
</div> 
 