  
<!-- <nav class="navbar nav justify-content-center navbar-expand-lg  " style="position: static;">
   <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    
    <ul  class="nav justify-content-center">
      <li><a class="liquid"  routerLink="calculator" >Calculator</a></li>
      <li><a class="liquid" routerLink="json" >JSON Viewer</a></li>
      <li><a class="liquid" routerLink="converter" >File Converter</a></li> 
      <li><a class="liquid" routerLink="text" >Text Analyzer</a></li> 
      <li><a class="liquid" routerLink="time-and-currency" >Time & Currency Converter</a></li> 
    </ul>
  </div>
</nav>  -->
  
<nav class="navbar navbar-expand-lg bg-light"  style="position: static;">
  <div class="container-fluid justify-content-end">
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="calculator" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="json" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">JSON Viewer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="converter" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">File Converter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="text" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Text Analyzer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="time-and-currency" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Time & Currency Converter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="stopwatch" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">StopWatch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="alarm" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Alarm</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


 <router-outlet></router-outlet>