 
 <!-- <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" style="color:black;" routerLink="calculator">Calculator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " style="color:black;"  routerLink="json">JSON Viwer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" style="color:black;" routerLink="converter">Converter</a>
  </li> 
</ul> -->

<nav class="navbar nav justify-content-center " style="position: static;">
  <ul  class="nav justify-content-center">
    <li><a class="liquid"  routerLink="calculator" >Calculator</a></li>
    <li><a class="liquid" routerLink="json" >JSON Viewer</a></li>
    <li><a class="liquid" routerLink="converter" >Converter</a></li> 
  </ul>
</nav>


 <router-outlet></router-outlet>