  
<nav class="navbar nav justify-content-center navbar-expand-lg  " style="position: static;">
   <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
  <div class="collapse navbar-collapse" id="navbarNav">
    
    <ul  class="nav justify-content-center">
      <li><a class="liquid"  routerLink="calculator" >Calculator</a></li>
      <li><a class="liquid" routerLink="json" >JSON Viewer</a></li>
      <li><a class="liquid" routerLink="converter" >File Converter</a></li> 
      <li><a class="liquid" routerLink="text" >Text Analyzer</a></li> 
      <li><a class="liquid" routerLink="time-and-currency" >Time & Currency Converter</a></li> 
    </ul>
  </div>
</nav> 


 <router-outlet></router-outlet>